<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

<link href="/public/css/design-index-template.css" rel="stylesheet" type="text/css" />

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

{% block header %}
<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <h1 class="govuk-header-heading">Develop land and property</h1>
    <p class="govuk-header-tag">
      Services and tools for anyone involved in building new properties
    </p>
  </div>
</header>
{% endblock %}
