// /////////////////////////////////////////////////////////////////////
// styles specific to the develop service(s) index
// /////////////////////////////////////////////////////////////////////


.app-step-nav__toggle-link {
  text-align: right;
}


.app-step-nav__header {
  border-top: solid 2px #dee0e2;
}

.app-step-nav__header__and {
  border-top: solid 1px #f2f5f7;
}

.app-step-nav__header:hover {
  background: #f2f5f7;
}

///////////////////////
// screenshot gallery
///////////////////////

.row-thumbnails{
  display: inline-block;
  margin-bottom:25px;
}

.thumbnail {
  background: #f2f5f7;
  padding-top:10px;
  padding-left:15px;
  padding-right: 15px;
  border: 1px solid #dee0e2;
  width:240px;
  height:300px;
  display: inline-block;
  overflow: hidden;
  margin-bottom:10px;
  vertical-align:top;
}

.thumbnail img {
  width:100%;
  border: 1px solid #7f7f7f;
}

.thumb-title {
  text-align:center;
  height:50px;
  margin-bottom:5px;
}
