
{% extends "layout-index-brand.html" %}

{% block pageTitle %}
  Developing Land and Property index
{% endblock %}

{% block content %}


<a href="index" class="govuk-back-link">back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">About the site</h1>

        <p>Who to talk to about the services discussed here, and getting this site updated</p>

        <p>This site is the responsibility of the Design Community. The first person totalk to should be a designer on the current service.</p>

        <div class="govuk-section-break--xl"></div>

<!--         <h2 class="govuk-heading-l">heading</h2>
        <p>
            stuff
        </p> -->
    </div>

    <!----------   grid-row-one-third   --------->

<!--     <div class="govuk-grid-column-one-third">

        <h3 class="govuk-heading-m">Documents</h3>
        <ul class="govuk-list govuk-body-s">
            <li><a href="">Likely to be a list of links</a></li>
            <li><a href="">Links to other information</a></li>
            <li><a href="">User Research</a></li>
        </ul>

        <div class="govuk-section-break--xl"></div>

        <a href="">Our filing structure</a>
    </div> -->
</div>



<!-- <div class="govuk-grid-row">
    <div class="govuk-section-break--xl">
        <div class="govuk-grid-column-one-third govuk-section-break--xl" align="center">
            <img src="../../public/images/service-history.png" alt="Service History icon" height="56">
            <div class="govuk-section-break--m"></div>
            <h2 class="govuk-heading-m">Service History</h2>
            <p>
                A history showing all the previous prototype versions highlighting what has changed and why, linking in to
                the user research that triggered the changes.
            </p>
        </div>

        <div class="govuk-grid-column-one-third govuk-section-break--xl" align="center">
            <img src="../../public/images/timeline.png" alt="Timeline icon" height="56">
            <div class="govuk-section-break--m"></div>
            <h2 class="govuk-heading-m">Timeline</h2>
            <p>
                What stage is the project in, how long will it be there, and when is the plan to move into the next stage.
            </p>
        </div>

        <div class="govuk-grid-column-one-third govuk-section-break--xl" align="center">
            <img src="../../public/images/assessments-2.png" alt="Assessments icon" height="56">
            <div class="govuk-section-break--m"></div>
            <h2 class="govuk-heading-m">Assessment</h2>
            <p>
                Have there been any assessments? Will there be an assessment, if so, when?
            </p>
            <a href="">Digital service standards</a>
        </div>
    </div>
</div> -->

<div class="govuk-section-break--l"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="index" class="govuk-back-link">back</a>
  </div>
</div>


{% endblock %}
