
{% extends "layout-index-brand.html" %}

{% block pageTitle %}
  Accessibility statement - Project anthology
{% endblock %}

{% block content %}


<a href="index" class="govuk-back-link">back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility</h1>
  </div>
</div>

<div class="govuk-grid-row">

	<div class="govuk-grid-column-one-third contents-list-container">
	  <nav role="navigation">
	    <h2 class="govuk-!-margin-bottom-2">Page contents:</h2>

	    <ol>
	      <li>
	        <a href="#accessibility-statement-for-website-name">Accessibility statement for designers project anthology</a>
	      </li>
	      <li>
	        <a href="#contacting-us-by-phone-or-visiting-us-in-person">Contacting us by phone or visiting us in person</a>
	      </li>
	      <li>
	        <a href="#technical-information-about-this-websites-accessibility">Technical information about this website’s accessibility</a>
	      </li>
	      <li>
	        <a href="#how-we-tested-this-website">How we tested this website</a>
	      </li>
	      <li>
	        <a href="#what-were-doing-to-improve-accessibility">What we’re doing to improve accessibility</a>
	      </li>
	    </ol>
	  </nav>

	</div>

	<div class="govuk-grid-column-two-thirds">
		<h2 class="gov-heading-l govuk-!-margin-top-0" id="accessibility-statement-for-website-name">Accessibility statement for designers project anthology</h2>
		<p>This website is run by HM Land Registry's Design Community. We want as many people as possible to be able to use this website. You should be able to use this website without any restrictions, For example, that means you should be able to:
		</p>
		<ul class="govuk-body">
		  <li>zoom in up to 400% without the text spilling off the screen</li>
		  <li>navigate the website using just a keyboard</li>
		  <li>navigate the website using speech recognition software</li>
		  <li>listen to the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
		</ul>
		<p>We’ve also made the website text as simple as possible to understand.</p>
		<p><a rel="external" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>


		<h3 class="gov-heading-m" id="what-to-do-if-you-cant-access-parts-of-this-website">What to do if you can’t access parts of this website</h3>
		<p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>
		<ul class="govuk-body">
		  <li><a href="mailto:andy.porter@landregistry.gov.uk?subject=Accessibility of Designers Anthology">Email Us</a> (andy.porter@landregistry.gov.uk)</li>
		</ul>
		<p>We’ll consider your request and get back to you in 5 days.</p>

		<h3 class="gov-heading-m" id="reporting-accessibility-problems-with-this-website">Reporting accessibility problems with this website</h3>
		<p>We’re always looking to improve the accessibility of this website. If you find any problems that aren’t listed on this page or think we’re not meeting accessibility requirements, <a href="mailto:andy.porter@landregistry.gov.uk?subject=Accessibility of Designers Anthology">email us</a> (andy.porter@landregistry.gov.uk)
		</p>

		<h3 class="gov-heading-m" id="enforcement-procedure">Enforcement procedure</h3>
		<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a rel="external" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

		<h2 class="gov-heading-l" id="contacting-us-by-phone-or-visiting-us-in-person">Contacting us by phone or visiting us in person</h2>
		<p>For staff members we can be contacted by phone, skype (find us in the directory), or in person (Seaton Court, 1st floor South wing).</p>
		<p>For non staff members <a href="mailto:andy.porter@landregistry.gov.uk?subject=Accessibility of Designers Anthology">email us</a> (andy.porter@landregistry.gov.uk), and we'll organise something that works for you</p>

		<h2 class="gov-heading-l" id="technical-information-about-this-websites-accessibility">Technical information about this website’s accessibility</h2>
		<p>HM Land Registry's Design Community is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
		<p>This website is fully compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>


		<h2 class="gov-heading-l" id="how-we-tested-this-website">How we tested this website</h2>
		<p>This website was last tested on 28 August 2019. The test was carried out by ourselves (Andy Porter).</p>
		<p>We tested:</p>
		<ul class="govuk-body">
		  <li>All pages on this domain (https://designers-project-anthology.herokuapp.com): the main page and the accessibiltiy statement page</li>
		</ul>
		<p>The testing was conducted using the <a href="https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh">WebAIM WAVE Evaluation Tool, Chrome Browser Extension</a>.</p>

		<h2 class="gov-heading-l" id="what-were-doing-to-improve-accessibility">What we’re doing to improve accessibility</h2>
<!-- 		<p>Our accessibility roadmap [add link to roadmap] shows how and when we plan to improve accessibility on this website.</p> -->
		<p>This statement was prepared on 28 August 2019. It was last updated on 28 August 2019.</p>



	</div>

</div>


<div class="govuk-section-break--l"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="index" class="govuk-back-link">back</a>
  </div>
</div>


{% endblock %}
