
{% extends "layout-index-brand.html" %}

{% block pageTitle %}
  Developing Land and Property index
{% endblock %}

{% block content %}


<a href="index" class="govuk-back-link">back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Design assets<span class="govuk-visually-hidden"> for Develop Land and Property</span></h1>

    <p>Protoypes and assets used across the phases.</p>

    <p>A username and password is required to view prototypes.  Request this from the team or the design community</p>
    <p>prototypes are hosted on heroku under the Land Registry organisational account</p>

		<div class="govuk-section-break--xl"></div>

    <ul class="govuk-list govuk-body-m">
      <li>
      	<p>
	      	<a href="https://develop-property-ready-to-sell.herokuapp.com">Most recent prototyping - alpha, second alpha through to service closure</a> (includes GDS assessment material, story, and future vision pitch). <a href="https://github.com/LandRegistry/develop-property-ready-to-sell">Github repo</a>
	      </p>
      	<p><a href="https://drive.google.com/drive/folders/1WMtc7bADOS0fXSR5b5L4ICzH_89UpTda">non HTML protos for title plans, emails, download rooms</a>
      	</p>
      </li>

      <li>
      	<p>
      		<a href="https://develop-property-alpha.herokuapp.com">first HTML protoyping</a> (most design was migrated to the most recent proto). <a href="https://github.com/LandRegistry/develop-property-alpha">Github repo</a>
      	</p>
      </li>
      <li><a href="https://drive.google.com/drive/folders/1nOFGzcrNBFfDW0LGSHcwsFiLwD5lvVEv">first protoyping (non HTML) - concept ideas in alpha</a></li>
      <li><a href="https://drive.google.com/drive/folders/1MK3N3F12176-aJi8tgxp6CiQ6pIoVCqX">Service Journeys diagrams</a> (and the master, sketch, files)</li>
      <li><a href="https://drive.google.com/drive/folders/125cvUnD35VGGu5WuZ5g7oLyS7ToCAUOA">Publishing plans diagrams of the big idea</a></li>

    </ul>
  </div>
</div>

<div class="govuk-section-break--l"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="index">&lt; home</a>
  </div>
</div>



{% endblock %}
