
{% extends "layout-index-brand.html" %}

{% block pageTitle %}
  Project anthology
{% endblock %}

{% block pageScripts %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Services and products<span class="govuk-visually-hidden"> list</span><span class="govuk-caption-m">Current, paused and closed</span></h1>
    

    <ul class="govuk-list index-index-list">
		  <li>
		    <h2 class="govuk-heading-m"><a class="govuk-link" href="https://index-develop.herokuapp.com">I want to develop land and property</a> <span class="govuk-body">(no authentication)</span></h2>
		    <p>Services and tools for anyone involved in building new properties.</p>
		    <p>Status: closed July 2019. No current production service</p>
		  </li>

		  <li>
		    <h2 class="govuk-heading-m"><a class="govuk-link" href="https://i-need-to-find.herokuapp.com">Search for land and property information</a> <span class="govuk-body">(authentication)</span></h2>
		    <p>Providing the right land or property data, at the right time, in the right way.</p>
		    <p>Status: Beta (July 2019).</p>
		  </li>

		  <li>
		    <h2 class="govuk-heading-m"><a class="govuk-link" href="https://workflow-index.herokuapp.com">Workflow</a> <span class="govuk-body">(authentication)</span></h2>
		    <p>Getting the right work to the right people at the right time.</p>
		    <p>Status: ??? (July 2019).</p>
		  </li>

		  <li>
		    <h2 class="govuk-heading-m">DPS</h2>
		    <p>Status: ??? (July 2019).</p>
		  </li>

		  <li>
		    <h2 class="govuk-heading-m">FEV</h2>
		    <p>Status: ??? (July 2019).</p>
		  </li>

		  <li>
		    <h2 class="govuk-heading-m">LLC</h2>
		    <p>Status: ??? (July 2019).</p>
		  </li>

		  <li>
		    <h2 class="govuk-heading-m">Portal</h2>
		    <p>Status: ??? (July 2019).</p>
		  </li>

		  <li>
		    <h2 class="govuk-heading-m">TAP</h2>
		    <p>Status: ??? (July 2019).</p>
		  </li>

		  <li>
		    <h2 class="govuk-heading-m">Protect</h2>
		    <p>Status: ??? (July 2019).</p>
		  </li>

		  <li>
		    <h2 class="govuk-heading-m">Design System</h2>
		    <p>Status: ??? (July 2019).</p>
		  </li>

		</ul>

  </div>


  <!----------   grid-row-one-third   --------->

  <div class="govuk-grid-column-one-third">
  	<aside>
  		<h2 class="govuk-heading-m govuk-visually-hidden">About this list</h2>
  		<h3 class="govuk-heading-s">Updating this page</h3>
  		<p>Speak to: your team designer, Zo&eacute;, Joe, Andy, or any member of the Design Community</p>
  		<h3 class="govuk-heading-s">Authentication<span class="govuk-visually-hidden"> details</span></h3>
  		<p>The list leads to project overviews - most are behind accounts. Account details can be obtained from the service team or Design community.  The intention is for all project overviews to be open by default.</p>
  		<h3 class="govuk-heading-s">Intentions<span class="govuk-visually-hidden"> of this page</span></h3>
  		<p>Information about the aim of this list, who it is for, its principles and what needs doing is in <a href="https://github.com/LandRegistry/designers-project-anthology/blob/master/README.md">the readme file of the repository<span class="govuk-visually-hidden"> contains details of the intention, principles and work to-do for this list</span></a>.</p>
  	</aside>
  </div>


</div>



{% endblock %}
