
{% extends "layout-index-brand.html" %}

{% block pageTitle %}
  Developing Land and Property index
{% endblock %}

{% block content %}


<a href="index" class="govuk-back-link">back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Screenshots<span class="govuk-visually-hidden"> to Develop Land and Property</span></h1>

    <h2 id="closed" class="govuk-heading-m">Private beta service closed</h2>
    <p>July 1019</p>
    <p><a href="https://gallery.io/projects/MCHbtQVoQ2HCZUYGqRpQnI8I/files/MCHbtQVoQ2HCZcatqI37tQh9">gallery.io version (needs google account)</a></p>

    <div class="row-thumbnails">
    	<div class="thumbnail">
    		<p class="thumb-title">service closed</p>
    		<a href="public/images/trial-closed.png">
    			<img alt="this trial has closed" src="public/images/trial-closed.png">
    		</a>
    	</div>
  	</div>

  	<div class="govuk-section-break--l"></div>

    <h3 id="privatebeta" class="govuk-heading-m">Private beta service</h3>
    <p>September 2018 to June 1019</p>
    <p><a href="https://gallery.io/projects/MCHbtQVoQ2HCZUYGqRpQnI8I/files/MCHbtQVoQ2HCZf_K9w9yUyYM">gallery.io version (needs google account)</a></p>

    <div class="row-thumbnails">
    	<div class="thumbnail">
    		<p class="thumb-title">housing development list</p>
    		<a href="public/images/list-of-housing-developments.png">
    			<img alt="list of active housing developments" src="public/images/list-of-housing-developments.png">
    		</a>
    	</div>
    	<div class="thumbnail">
    		<p class="thumb-title">housing development</p>
    		<a href="public/images/housing-development.png">
    			<img alt="housing development homepage, address, developer and access to plans" src="public/images/housing-development.png">
    		</a>
    	</div>
    	<div class="thumbnail">
    		<p class="thumb-title">plans - estate and plot details (short)</p>
    		<a href="public/images/list-of-plots-on-development-addresses-short.png">
    			<img alt="short screenshot of all the plots in the development, with address, and date of checked as approved, and link to a PDF of the entire estate" src="public/images/list-of-plots-on-development-addresses-short.png">
    		</a>
    	</div>
    	<div class="thumbnail">
    		<p class="thumb-title">plans - estate and plot details (long)</p>
    		<a href="public/images/list-of-plots-on-development-addresses.png">
    			<img alt="fully length screenshot of all the plots in the development, with address, and date of checked as approved, and link to a PDF of the entire estate" src="public/images/list-of-plots-on-development-addresses.png">
    		</a>
    	</div>
    	<div class="thumbnail">
    		<p class="thumb-title">'estate' plan, PDF</p>
    		<a href="public/images/plan.png">
    			<img alt="example of PDF estate plan" src="public/images/plan.png">
    		</a>
    	</div>
    	<div class="thumbnail">
    		<p class="thumb-title">cookies</p>
    		<a href="public/images/cookies.png">
    			<img alt="cookies policy" src="public/images/cookies.png">
    		</a>
    	</div>
    	<div class="thumbnail">
    		<p class="thumb-title">terms and conditions</p>
    		<a href="public/images/terms-conditions.png">
    			<img alt="terms and conditions page" src="public/images/terms-conditions.png">
    		</a>
    	</div>
  	</div> 	


  </div>
</div>

<div class="govuk-section-break--l"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="index" class="govuk-back-link">back</a>
  </div>
</div>



{% endblock %}
